/* src/components/routes/Landing/Register/Register.css */


  .game-bg{
    width:100vw;
    height: 100vh;
  }
  
  .game-logo, .game-head {
    position: absolute;
    z-index: 1;
  }
  
  .game-logo {
    top: 4vh;
    left: 10px;
    width: 12%;
  }
  
  .game-head {
    top: 10vh;
    transform: translateX(-50%);
    width:20%;
  }

.form-register{
    position: absolute;
    z-index: 1;
    color:white;
    background-color: #ca4ad12f;
    top: 10vh;
    left: 20%;
    width:60%;
    margin: auto;
    margin-top: 15vh;
    border: 1px solid;
    border-radius: 25px;
    padding: 25px;
    border: none;
}

.form-line1{
    margin-bottom: 5vh ;
    font-weight: 400;
    font-size: x-large;
}

.inputs{
    width: 50%;
    height: 30px;
    margin: auto;
}

.inputs::placeholder {
    color: rgb(65, 65, 65); 
    font-size: medium;
}


.gender-column {
    display: flex;
    margin: auto;
    
}

.rd-btn {
    margin-left: 22%;
}


.rd-btns{
    margin-right: 1px; 
    margin-left: 10px;
    
}

.sbt-btn{
    width: 20%;
    height: 40px;
    border: 1px solid;
    border: none;
    border-radius: 20px;
    background-color:  #AA13E8;
    color: white;
    margin-bottom:5px ;
}


.sbt-btn:hover{
    background-color: #6a0094;
}

.google-link{
    cursor: pointer;
    margin-bottom:8px ;
    border: 1px solid;
    border-radius: 10px;
    background-color:  transparent;
    color: white;
    border-color: #AA13E8;
}

.google-link:hover{
    color:#ba44e9;
    background-color: transparent;

}

.head2{
    display: inline;
    font-weight: 400;
}


.login-link {
    color:#ba44e9;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

.login-link:hover {
    color: white;
}

/* for mobile screens */
@media only screen and (max-width: 750px) {
    
    .game-bg{
        background-size: cover;
        background-position: center center;
        height:800px;
    }

    .game-logo {
        top: 4vh;
        left: 10px;
        width: 20%;
    }
    
    .game-head {
        top: 7vh;
        margin-left: 10px;
        transform: translateX(-50%);
        width:40%;
    }

    .form-register{
        margin-top: 5vh;
    }

    .mob{
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    .sbt-btn{
        width: 50%;
        height: 40px;
    }
}