

.form-multycomm{
    width:75%;
    margin: auto;
    border: 1px solid;
    margin-top: 0.5vh;
    border-color: rgb(189, 185, 180);
    border-radius: 10px;
}

.form-heading{
    margin-bottom: 2.5vh;
}

.form-control{
    width: 95%;
    margin: auto;
}

.sbt-btn{
    margin-top: 1vh;
}